$--black: #000000;
$--black-0f: #0f0f0f;
$--black-12: #121212;
$--black-18: #181818;
$--black-21: #212121;
$--black-32: #323232;
$--black-38: #383838;
$--black-47: #474747;
$--white: #ffffff;
$--grey: #f1f1f1;
$--blue: #3DA6FF;       

$--base-background: $--black-0f;
$--text-primary: $--grey;