@import './styles/variables.scss';

@font-face {
  font-family: 'Roboto';
  src: url('././assets/fonts/Roboto-Regular.ttf') format('truetype');
}


// @font-face {
//   font-family: 'Roboto';
//   src: url('././assets/fonts/Roboto-Medium.ttf') format('truetype');
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $--base-background;
  color: $--text-primary;
  height: 100vh;
}

.container {
  max-width: 1350px;
  margin: 0 auto; 
}





/* Global scroll bar style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #AAAAAA;

  &:hover {
    background: #4A4A4A;
  }
}

// :hover::-webkit-scrollbar-thumb {
//   background: red;
// }